.env

*.jar

data/certbot/*

server/*
!server/server.properties
!server/server-icon.png
!server/config/
!server/spigot.yml

!server/plugins/
server/plugins/*

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

# Clearlag
!server/plugins/ClearLag/
server/plugins/ClearLag/*
!server/plugins/ClearLag/config.yml

# Dynmap-WorldGuard
!server/plugins/Dynmap-WorldGuard/
server/plugins/Dynmap-WorldGuard/*
!server/plugins/Dynmap-WorldGuard/config.yml

# Dynmap
!server/plugins/dynmap/
server/plugins/dynmap/*
!server/plugins/dynmap/configuration.txt

# Essentials
!server/plugins/Essentials/
server/plugins/Essentials/*
!server/plugins/Essentials/config.yml
!server/plugins/Essentials/items.json
!server/plugins/Essentials/motd.txt
!server/plugins/Essentials/custom_items.yml
!server/plugins/Essentials/spawn.yml
!server/plugins/Essentials/tpr.yml
!server/plugins/Essentials/upgrades-done.yml

# FastChunkPreGenerator
!server/plugins/FastChunkPregenerator/
server/plugins/FastChunkPregenerator/*
!server/plugins/FastChunkPregenerator/configuration.yml

# GuiEgine
!server/plugins/GuiEngine
server/plugins/GuiEngine/*
!server/plugins/GuiEngine/config.yml

# ImprovedFactions
!server/plugins/ImprovedFactions/
server/plugins/ImprovedFactions/*
!server/plugins/ImprovedFactions/commands.yml
!server/plugins/ImprovedFactions/config.yml

# Luckperms
!server/plugins/LuckPerms/
server/plugins/LuckPerms/*
!server/plugins/LuckPerms/config.yml
# Also add backup of groups
# /lp export file.txt --without-users

# Placeholder API
!server/plugins/PlaceholderAPI/
server/plugins/PlaceholderAPI/*
!server/plugins/PlaceholderAPI/config.yml

# PlayerStats
!server/plugins/PlayerStats/
server/plugins/PlayerStats/*
!server/plugins/PlayerStats/config.yml
!server/plugins/PlayerStats/language.yml

# TAB
!server/plugins/TAB/
!server/plugins/TAB/*
server/plugins/TAB/*.log

# UltimateAutoRestart
!server/plugins/UltimateAutoRestart/

# Vault
!server/plugins/Vault/

# Worldedit
!server/plugins/WorldEdit/
server/plugins/WorldEdit/*
!server/plugins/WorldEdit/schematics/*
!server/plugins/WorldEdit/config.yml

# WorldGuard
!server/plugins/WorldGuard/
server/plugins/WorldGuard/*
!server/plugins/WorldGuard/config.yml
!server/plugins/WorldGuard/worlds/*

# DecentHolograms
!server/plugins/DecentHolograms/
!server/plugins/DecentHolograms/*

# OpenAudioMC
# !server/plugins/OpenAudioMc/
# server/plugins/OpenAudioMc/*
# !server/plugins/OpenAudioMc/config.yml

# ServerNPC / ZNPCs
!server/plugins/ServersNPC/
!server/plugins/ServersNPC/*

# ServerListPlus
!server/plugins/ServerListPlus/
server/plugins/ServerListPlus/*
!server/plugins/ServerListPlus/ServerListPlus.yml
!server/plugins/ServerListPlus/Profiles.json

# Voice chat
!server/plugins/voicechat/
!server/plugins/voicechat/*

